/* You can add global styles to this file, and also import other style files */

@import url('assets/scss/table.scss');
@import url('assets/scss/material.scss');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.panel {
    background-color: #ffffff;
    border-radius: 5px !important;
    padding: 20px;
}

::ng-deep.mat-form-field-wrapper {
    padding-bottom: 0px !important;
}

::ng-deep.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 10px !important;
}